@page "/defence"

<h1>Defence</h1>

<p>Attacking is easy. You just run hard and fast into gaps. So rather than playing matches where both teams score 10 tries each, we must learn to defend to win. Professional teams practise defence a lot.</p>

<img class="image" src="/Images/TryStatistics.jpg">

<p>The above chart shows the average number of tries scored by each team in a match, based on every 6 nations tournament from 2000 to 2019. This is remarkably fewer than amateur or youth rugby because their players are so well-drilled in defence. Defence is how you win games.</p>

<h3>Defensive positions</h3>

<p>Your team needs to form a defensive line that covers the width of the pitch with no gaps. You must try to match your big forwards to theirs and your quick-runners opposite theirs. This will be fully explained in the Attack section, where we will look to deliberately create a mismatch.</p>

<p>If all 15 players line up across a 70m-wide pitch, then the gaps between defenders will be less than 5m each.</p>

<img class="image" src="/Images/15ManLine.jpg">

<p>That's great. There are very few gaps. But what if the attacking team manage to break through or they kick the ball over the D-line? There's nobody back there to tackle or catch the ball.</p>

<p>That's why we have the full-back. The full-back needs to be good at tackling, catching, kicking and running. They stay at the back as an extra line of defence.</p>

<img class="image" src="/Images/14ManLineWithFullBack.jpg">

<p>That's better. There's now cover at the back and we still have very small gaps in the D-line.</p>

<p>But the full-back has to cover a 70m-wide pitch by himself. How do the other players help cover the rear without leaving even more gaps in the D-line?</p>

<h3>The 13-2 formation</h3>

<p>This formation has 13 players in the line and 2 full-backs covering both sides of the pitch.</p>

<h3>The pendulum</h3>

<p>The pendulum manoeuvre allows the wingers to take turns to run back and help the full-back. If the ball is on the left side of the pitch, then the right winger can drop-back to help the full-back. If it's on the right, the left winger drops-back.</p>

<img class="image" src="/Images/14ManLineWithFullBackAndLeftWingerAtRear.jpg">

<p>In the image above, the defensive team's left winger has dropped-back because play is on the other side of the pitch.</p>

<img class="image" src="/Images/14ManLineWithFullBackAndRightWingerAtRear.jpg">

<p>In this image, the play is on the other side of the pitch so the left-winger moves forward to join the D-line, the full-back moves across to cover the space they left and the right-winger drops back to help cover the rear.</p>

<p>To perform the pendulum, the back three need to shout to each other all the time. If one of the back three is unavailable, then other players will be needed to do it instead. Therefore, it's important that every player knows how this works.</p>

<p>Some teams, like Scotland or Wales, like to kick a lot to either side of the pitch to cause the back three to make a mistake or just tire them out. France have reverted to the 13-2 formation to prevent this.</p>

<h3>Defending the fringe</h3>

<p>It's very easy for forwards to attack the gaps around the ruck with a pick and go manoeuvre. The scrum-half may also spot a gap to slip through. That's why we have guards and bodyguards defending around every ruck. They may also be referred to as pillars and posts.</p>

<img class="image" src="/Images/GuardsAndBodyGuards.gif">

<p>These defenders are usually big forwards, who will smash anyone who attempts to pick and go. Again, this requires communication. The forwards need to shout "Guard!" or "Bodyguard!" as they get into position. They also must call others over to fill any gaps.</p>

<img class="image" src="/Images/DefenceAroundTheRuck.jpg">

<p>The above image shows the South African forwards guarding the fringes of the ruck. England has no option to sneak through. They must pass the ball outwards, further away from their own forwards, who are mostly stuck in the ruck.</p>

<p>There's one more role in defence, which is that of the scrum-half. They're usually the smallest player on the pitch, so rather than join the D-line or drop-back to cover the rear, they float around in the middle, a short distance behind any ruck. This is partly to sweep up any chip kicks over the D-line or to be in position to quickly distribute the ball if it's stolen.</p>

<img class="image" src="/Images/PerfectDefensiveFormation.jpg">

<p>So here we have a good defensive formation. Our back three are performing the pendulum, the 5, 6, 7 & 8 are covering the fringes of the ruck and the scrum-half is loitering behind the ruck, shouting instructions to the forwards.</p>

<h3>Styles of defence</h3>

<p>There are 2 styles of defence. There is the drift defence, which is easier and safer. There is also the blitz defence, which is riskier, but very effective and is more likely to lead to a turnover of possession.</p>

<h5>Drift defence</h5>

<p>The drift defence has the defenders running diagonally to force the attackers towards the opposite side of the pitch until they run out of space.</p>

<p>In a drift defence you don't target your opposite number, but you target the next player along the line. To do this, you need one of your forwards to help. This is usually the open-side flanker's job. From a ruck, maul, lineout or scrum, the forward will run at their fly-half. Your fly-half will run at their inside centre, your inside centre will run at their outside centre and so on...</p>

<img class="image" src="/Images/DriftDefence.jpg">

<p>Above is a diagram demonstrating the drift defence. The orange team are the defenders this time. It's easy to do drift defence while still allowing your full-back freedom to cover the rear.</p>

<p>In any defence, the scrum-half's job is to defend the opposite scrum-half.</p>

<h5>Blitz defence</h5>

<p>The blitz defence is more fun, but it relies on every player to successfully close-down their targeted player. The players all rush forward at their opposite numbers and close them down. This sometimes means you can intercept or trap a player on his own without any support around them, allowing a jackal. However, if anyone misses a tackle, then the attacking players are all through.</p>

<p>Here are some former England players explaining the 2 styles of defence:</p>

<iframe class="video" src="https://www.youtube.com/embed/Ajr5sYKNQe4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Poor defence</h3>

<h5>Dog-leg defence</h5>

<p>This can be a risk of the blitz defence. This is where a player runs foward to make a tackle and leaves a gap in the D-line.</p>

<img class="image" src="/Images/DogLegDefence.jpg">

<p>The above image shows the green team's flat D-line, but the 12 has run forward to tackle the orange 12, allowing orange to offload to the 13, who runs into the gap that green 12 had left. The D-line must remain flat and players must communicate to run forward together. Many teams practise running forwards as a line to make a tackle before walking backwards to reform the next D-line.</p>