@page "/discipline"

<h1>Discipline</h1>

<p>Disciplibary processes exist in rugby to penalise players whose foul play or misconduct is other than purely accidental, and one of its most important principles is to prevent the risk of injury to other players in a dynamic and physical sport.</p>

<h3>Match Officals</h3>

<p>In a professional rugby match, there are 4 match officals. The referee, 2 touch judges and a Television Match Official (TMO). Most amateur matches won't have a TMO and only a few have touch judges.</p>

<p>The referee has a whistle, which they blow to stop play. This is usually because there's an infringement, but it may be because someone may get hurt. They also use well-understood hand signals to communicate their decisions to the spectators and foreign-speaking players. They may also wear microphones, earpieces and cameras when on TV. They carry yellow and red cards, which they hold up in the air when sending a player off for breaking rules. Some referees carry a stopwatch to keep the time and a notebook to keep the score.</p>

<p>Touch judges carry a flag and they will hold it in the air when a player goes into touch and to show where the lineout should be. They also stand behind the posts when a place kick is being taken and they hold their flags up if the kick is successful. They may also hold their flag out in front of them if they spot any foul play. The referee will often ask for their advice if they're unsure of what decision to make. Touch judges may also wear a microphone and earpiece.</p>

<p>The TMO sits in a room with a few video monitors. They can communicate with the other officials by radio to their earpieces. The TMO will ask the referee to stop play if they spot foul play on their video monitors. The referee may ask the TMO to check if their on-field decision is correct by playing back the video of what happened. The video is usually shown on a large TV in the stadium when this is happening, so the referee, players and spectators can see ittoo.</p>

<p>In most games, where the referee is the only match offical, it can be a very stressful job for them. They will make mistakes. It will be unfair at times and you may lose games or receive bans because a referee has made a mistake. This is unfortunate but you have to accept it. If you complain about a sanction, you may receive an even worse one. Just accept it and play on. The referee can't let players tell them what to do, they need to stick to the decision they made. If they realise they've made a mistake, they may even apologise, but still stick to their original decision.</p>

<h3>Penalty count</h3>

<p>If your team gives away too many penalties, you will lose ground or have more points scored against you through penalty kicks or penalty tries. At the professional level, if a team concedes more than 10 penalties in a match, then they're statiscally likely to lose the match. This is why it's important to play within the rules. Do what the referee tells you to, even if you disagree. If your team is penalised for the smae infringement 2 or 3 times, then he will warn your team captain that if it happens again, they will show a yellow card to that player, who is then not allowed to play for 10 minutes. This is called being sent to the sin bin.</p>

<h5>Talking to the referee</h5>

<p>Every team will appoint a captain. The captain is not the boss or the star player in the team. They are just the player who talks to the referee. If anybody complains to the referee, they will be penalised or a penalty can be moved 10m further in the favour of the other team. If you need to tell the referee something, then tell your captain.</p>

<iframe class="video" src="https://www.youtube.com/embed/QelYUG7H9Hw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>The referee can't handle 30 players telling them what to do. They will take the captains aside and tell them what their decision is and why. They won't let them change his mind. However, the referee may ask other match officials for their perpsective on a decision if he can.</p>

<h5>Playing the referee</h5>

<p>You can't tell referees what to do, but there are ways to persuade them. If you are trying to jackal a ball and the ball-carrier is holding onto it on the ground, you mustn't ask the referee for a penalty. He may penalise you instead. But if you just shout to the player on the floor "Release the ball!" as you're trying to wrestle it from them, the referee will realise that the player is infringing. Similarly, if you see a high tackle, you can shout at the player "Hey, keep your tackles lower!" This works much better than shouting at the referee to penalise them.</p>