@page "/fitness"

<h1>Fitness</h1>

<p>There a several aspects to your fitness that you can improve and maintain to make yourself a better rugby player.</p>

<h3>Physical aspects</h3>

<h5>Stamina</h5>

<p>This is most important for players in any position. In an 80 minute match, players will run 5-8km, depending on their position. A back will make approximately 120 impacts and a forward will make ~300. On top of all this, they will need to push, pull, lift, sprint, kick, grip, jump, roll, dive and immediately return to their feet every time.</p>

<p>You could be one of the most skilful players in the world, but you won't be selected if you can't maintain a strong standard of play for a full match.</p>

<p>Go running. You should be able to complete a 5km run in under 30 minutes. You may also train and test your stamina using the bleep test. There are several smartphone apps for bleeps tests.</p>

<iframe class="video" src="https://www.youtube.com/embed/nwYx62e2VJI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Strength</h5>

<p>The most important exercises for rugby players are those that use your thighs and glutes. You need these muscles to sprint, drive and to jump to your feet. Squats and burpees are essential exercises. To become a professional, you would need to exercise every muscle group regularly.</p>

<p>Here's an insight to what a professional player does:</p>

<iframe class="video" src="https://www.youtube.com/embed/R1JNHgN9TZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Speed</h5>

<p>There are many guides online for learning sprinting techinque and how to train the muscles required. Here's one that explains the basics:</p>

<iframe class="video" src="https://www.youtube.com/embed/6BmtGNjm7BE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Weight</h5>

<p>If you're too heavy, you'll struggle last the full 80 minutes. This doesn't just mean players who are carrying abit of fat; it's also why bodybuilders don't make good rugby players. Their large muscles require too much oxygen. Compare the physique of a marathon runner and a sprinter. Distance runners are much smaller. Similarly, if you're too skinny, you won't be able to hit hard and you will be easy to tackle. Rugby players need to be in between these two physiques.</p>

<p>If you eat sugar and other carbohydryates, you will gain fat. They will also make you feel tired. For muscles, you need protein and a good mix of fruits and vegetables, which provide more vitamins that your body needs to build itself and to function well.</p>

<h5>Agility & coordination</h5>

<p>Agility is the ability to move quickly and easily. Coordination is the control you have over your body and your accuracy in your actions. You can find exercises to improve these things specifically for rugby, but the best and most fun method is to play lots of different sports. Football, Swimming, martial arts, juggling, darts and many more activities can help your rugby abilities.</p>

<h5>Aggression & control</h5>

<p>Aggression can win you matches. If you furiously attack a ball-carrier in a thumping tackle, it can turn a game. Driving hard in the scrums, rucks and mauls is also effective. Determination to beat other players to the ball is an obvious benefit too.</p>

<p>There is a point where aggression becomes a problem. If you do anything dangerous or reckless, you may find yourself sent-off, which kills the game for your teammates. It can also lead to a ban for several matches. Playing recklessly also spoils the game for your teammates, your opposition and the spectators. We love hard hits, but not when they can injure others.</p>

<p>You can practise control of your temperament. Coaches like to pick players who have a lot of fight in them, but if their discipline causes them to lose a game, they won't be picked again.</p>

<h5>Rest</h5>

<p>The most important part of exercise. When you train hard, you're deliberately damaging your muscles. This is ok, because your body repairs them and makes them even stronger for the next training session. If you don't rest after hurting yourself, then you'll just hurt yourself more and more.</p>

<p>It's a good idea to train different muscle groups on different days. The most common pattern is called PPL, which stands for push, pull, legs. This is where you do all of your pushing, pulling and leg exercises on three different days, It allows you get more training done whilst still getting the necessary rest.</p>

<p>Listen to your body. Training should hurt a little bit, but if the pain doesn't get better, then stop. If you attend training and tell your coach that you're injured, but are willing to help put out the training cones or tackle bags, they will appreciate it.</p>

<p>Get plenty of sleep. Don't stay up late or force yourself to get up early to get in the gym. You're only punishing yourself, not making yourself stronger.</p>

<h5>Growth</h5>

<p>Height can be a great advantage in rugby. Your height is mostly determined by your genes, but there are some things that children can do to encourage their body to grow.</p>

<ol>
    <li>Eat well. Give your body all the chemicals it needs to grow from your food. Especially calcium & protein but a good balance of everything else.</li>
    <li>Rest. You grow more in your sleep.</li>
    <li>Stretch. Every day, stretch your muscles. This will slightly encourage growth. But, no mater how slight the improvement, it helps. Every inch gives you a slight advantage.</li>
</ol>