@page "/following"

<h1>Following</h1>

<p>How can you follow rugby? There are many competitions, organisations & media around the game. Knowing about them and using them will help you grow as a player.</p>

<h3>Organisations</h3>

<p>You'll find so much information about the game from the various governing bodies.</p>

<ul>
    <li><a href="https://www.world.rugby/">World Rugby</a></li>
    <li><a href="https://www.englandrugby.com/home">RFU</a></li>
    <li><a href="https://www.scottishrugby.org/">Scottish Rugby</a></li>
    <li><a href="https://www.wru.wales/">WRU</a></li>
    <li><a href="https://www.irishrugby.ie/">IRFU</a></li>
    <li><a href="https://www.ffr.fr/">FFR</a></li>
    <li><a href="https://www.federugby.it/">Federugby</a></li>
    <li><a href="https://www.allblacks.com/">All Blacks</a></li>
    <li><a href="https://www.sarugby.co.za/">SA Rugby</a></li>
    <li><a href="https://australia.rugby/">Rugby AU</a></li>
</ul>

<h3>News</h3>

<p>There are plenty of news sources and discussion forums to delve into.</p>

<ul>
    <li><a href="https://www.reddit.com/r/rugbyunion/">Reddit</a></li>
    <li><a href="https://www.bbc.co.uk/sport/rugby-union">BBC</a></li>
    <li><a href="https://www.walesonline.co.uk/sport/rugby/">Wales Online</a></li>
    <li><a href="https://www.theroar.com.au/rugby-union/">Roar</a></li>
    <li><a href="https://www.rugbypass.com/">Rugby Pass</a></li>
    <li><a href="https://www.rugbyworld.com/">Rugby World</a></li>
    <li><a href="https://rugby365.com/">Rugby 365</a></li>
    <li><a href="https://www.therugbypaper.co.uk/">The Rugby Paper</a></li>
</ul>

<h3>TV shows</h3>

<ul>
    <li><a href="https://www.bbc.co.uk/programmes/b006mwb6">Scrum V</a></li>
    <li><a href="https://www.bbc.co.uk/programmes/b006w29j">Rugby Special</a></li>
    <li><a href="https://www.bt.com/sport/watch/bt-sport-shows/rugby-tonight">Rugby Tonight</a></li>
    <li><a href="https://www.channel5.com/show/gallagher-premiership-rugby-highlights/">Gallagher Premiership Rugby Highlights</a></li>
    <li><a href="https://www.bbc.co.uk/programmes/b0c20xv1">Six Nations Sin Bin</a></li>
</ul>

<h3>YouTube Channels</h3>

<p>It's worth subscribing to all of these channels.</p>

<ul>
    <li><a href="https://www.youtube.com/channel/UCE28rwYoaV7jvU6GVzdu_GQ">World Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UCu2oaGQ6Dds6g9lqfexUFbQ">Squidge Rugby</a></li>
    <li><a href="https://www.youtube.com/user/AndrewDavidForde">Andrew Forde</a></li>
    <li><a href="https://www.youtube.com/channel/UCIyq_C4LHnLidbcShek79ow">Rugby Beast</a></li>
    <li><a href="https://www.youtube.com/channel/UCBIbdeWbu5t-_PLBnf6csSw">Korol Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UCLbW1klIl3T1XCp8hHYZGMw">Premiership Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UC8WA4Hx-C3HPpzsZX-BehyA">Contact Coach</a></li>
    <li><a href="https://www.youtube.com/channel/UC-S6cXyil4qbIPfb2hrcH4w">Pro 14 Rugby</a></li>
    <li><a href="https://www.youtube.com/c/TheNoahJarvis/videos">NGJ Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UCDOGExGCsrrt_RrGDgLuMww">Super Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UCL5bAcVfbxSAs-UM5f5ncWg">Guinness Six Nations</a></li>
    <li><a href="https://www.youtube.com/channel/UCpUHoc1sINpv74-tFugojnA">Rugby Basics</a></li>
    <li><a href="https://www.youtube.com/channel/UCg09SttYRLT-vdOURVb3jxQ">Raw Rugby</a></li>
    <li><a href="https://www.youtube.com/channel/UC_bM5sG0QLY6Gn3knXT2q9w">GG Rugby</a></li>
    <li><a href="https://www.youtube.com/user/TheScottishcannon">The Scottish Cannon</a></li>
    <li><a href="https://www.youtube.com/channel/UCpUPn_xqBJGeYnSinGd24mw">In The Loose</a></li>
    <li><a href="https://www.youtube.com/user/benhughesmith">The Waterboy</a></li>
    <li><a href="https://www.youtube.com/channel/UCpUPn_xqBJGeYnSinGd24mw">Texas Rugby Union</a></li>
</ul>

<h3>Video Games</h3>

<ul>
    <li><a href="https://rugby-thegame.com/en">Rugby 20</a> (Playstation/Xbox/PC)</li>
    <li><a href="https://www.rugbychallenge4.com/">Rugby Challenge 4</a> (Playstation/Xbox/PC)</li>
    <li><a href="https://www.rugby-manager.com/en/">Rugby Manager</a> (iOS/Android)</li>
    <li><a href="https://store.steampowered.com/app/1314410/Rugby_Union_Team_Manager_3/">Rugby Union Team Manager</a> (PC)</li>
    <li><a href="https://www.distinctivegames.com/allgames">Rugby Nations 19</a> (iOS/Android)</li>
</ul>

<h3>Leagues</h3>

<ul>
    <li><a href="https://www.premiershiprugby.com/">Gallagher Premiership</a> (Top tier club competition for England men)</li>
    <li><a href="https://www.premier15s.com/home">Premier 15s</a> (Top tier club competition for England women)</li>
    <li><a href="https://www.pro14.rugby/">Pro-14</a> (Scotland/Wales/Ireland/Italy/South Africa)</li>
    <li><a href="https://www.lnr.fr/rugby-top-14">Top 14</a> (France)</li>
    <li><a href="https://super.rugby/superrugby/">Super Rugby</a> (New Zealand/Australia)</li>
</ul>

<h3>Tournaments</h3>

<ul>
    <li><a href="https://www.rugbyworldcup.com/">Rugby World Cup</a> (Men)</li>
    <li><a href="https://www.rugbyworldcup.com/2021">Rugby World Cup</a> (Women)</li>
    <li><a href="https://super.rugby/therugbychampionship/">The Rugby Championship</a> Southern hemisphere nations competition</li>
    <li><a href="https://www.sixnationsrugby.com/">Six Nations Championship</a> Eurpean nations competition</li>
    <li><a href="https://www.sixnationsrugby.com/women/">Women's Six Nations Championship</a> Eurpean nations competition</li>
    <li><a href="https://www.epcrugby.com/">Heineken Champions Cup</a> European club competition</li>
    <li><a href="https://www.epcrugby.com/">European Rugby Challenge Cup</a> European club competition</li>
    <li><a href="https://www.premiershiprugby.com/premiership-rugby-cup">Premiership Rugby Cup</a> English club competition</li>
</ul>