@page "/"

<h1>Rugby Skills</h1>

<img class="image" src="/Images/try.jpg">

<p>This site was created for my 12 year old son, to teach him about aspects of the game that we can't easily teach at outdoor rugby training sessions.</p>

<p>It can be used by rugby players or fans who know the basics, but want to learn the tactics and theory behind the game.</p>