@page "/"

<h1>Rugby Skills</h1>

<img class="image" src="/Images/try.jpg">

<p>This site is aimed at rugby players or fans who know the basics, but want to learn the tactics and theory behind the game.</p>

<p>Select a subject from the menu.</p>