@page "/"

<h1>Rugby Skills</h1>

<img class="image" src="/Images/try.jpg">

@*<p>This site is aimed at junior players and their parents or people who want to know more than just the basics of rugby.</p>*@

@*<p>You will benefit by using <a href="https://www.world.rugby/the-game/laws/home">World Rugby's app</a> to learn the laws of the game, particularly the sections around tackling and rucking.</p>*@