@page "/kicking"

<h1>Kicking</h1>

<p>It's usually only the backs who need to be good kickers, but every player can spend some time after a training session practising the various types of kick.</p>

<h3>Types of kick</h3>

<p>Some kicks are for scoring points. Some are for gaining territory or relieving pressure. Other kicks can be used to get the ball behind the D-line for players to run through and gather. You can even chip the ball over or under a defender to yourself because they're not allowed to tackle you if you don't have the ball.</p>

<h5>Place kick</h5>

<p>To score a conversion or penalty you usally place the ball on a kicking tee and take a run-up to kick it through the posts.</p>

<p>There's a lot to consider when place kicking:</p>

<ul>
    <li>The angle of the kick.</li>
    <li>What kind of tee to use.</li>
    <li>Which side of the field you're on.</li>
    <li>Which foot to kick with.</li>
    <li>Where to start your run from.</li>
    <li>How to run-up.</li>
    <li>How to position the ball on the tee.</li>
    <li>How to twist your body and swing your arms to get maximum power through the ball.</li>
    <li>How high to kick it.</li>
    <li>How far to kick it.</li>
    <li>Which part of your foot should strike the ball.</li>
    <li>Which part of the ball your foot should strike.</li>
    <li>Flicking your lower leg out as it goes through the ball.</li>
    <li>Where to plant your non-kicking foot when kicking.</li>
    <li>How to keep running in case the ball hits the post and bounces back to you.</li>
    <li>What angle your body should be at.</li>
    <li>What size, shape & weight of ball you're kicking.</li>
    <li>How inflated the ball is.</li>
    <li>What kind of footwear you have.</li>
    <li>What position to swing your foot from.</li>
    <li>What position to swing your foot to.</li>
    <li>Wind speed & direction.</li>
    <li>Altitude.</li>
    <li>How tired your legs are.</li>
    <li>Putting spin on the ball to make it swerve.</li>
    <li>Blocking out distractions.</li>
</ul>

<p>Place kicking may look simple, but there's so much to think about. Most beginners may struggle to score a goal from 20m away at first, but professionals can kick accurately from 70m, maybe more. To do this, they need to perfect every aspect.</p>

<p>Here's a video explaining place kicking, but there are many more similar videos out there. It's worth researching because great goal kickers get paid a lot.</p>

<iframe class="video" src="https://www.youtube.com/embed/9FDHprs9Jzw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Drop kick</h5>

<p>Drop kicks are used to start or restart the game or when winning a dropout 22. Players may also score a drop goal at almost any point in the match.</p>

<p>From a kick off or dropout you will need to kick the ball high to allow your teammates time to get underneath it to contest for the catch. You may also aim for it to either land in some space or to target a player that is exposed or isn't good at catching.</p>

<p>Here's a great video about drop kicking:</p>

<iframe class="video" src="https://www.youtube.com/embed/G4JGZ9xmbkc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Punting</h5>

<p>You may be kicking for distance if you find yourself camped behind your 22 and you want to hoof the ball far away to relieve the pressure. When doing this, you may aim to kick into space or to an exposed player or to touch.</p>

<p>Kicking to touch means that a lineout happens further up the pitch. If you do this from a penalty, then your team gets to thrown the ball in. If you kick to touch from behind your 22, then the lineout happens where the ball crosses the touchline. If you kick directly to touch from outside your 22, then the lineout will happen from where you kicked it. Therefore, you must make sure the ball bounces in-field before going into touch when kicking from outside your 22.</p>

<p>You don't want to kick the ball over the try line unless you know you can chase it and score. If the opposition touch it down in the try area, then they'll win a dropout. The same will happen if you kick it over the dead ball or touch in goal lines.</p>

<h5>Box kick</h5>

<img class="image" src="/Images/KickingStats.jpg">

<p>With such well-drilled defences it's difficult to advance up the pitch, so the box kick is becoming more and more popular. Here's a video explanation:</p>

<iframe class="video" src="https://www.youtube.com/embed/B0s27_iXNVs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Cross-field kick</h5>

<p>If your winger is in space without anyone marking them, then you may want to kick the ball over everyone's heads for them to catch and score. Here's a video with some incredible examples:</p>

<iframe class="video" src="https://www.youtube.com/embed/aOhlT0LdeCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Grubber kick</h5>

<p>The opposition may expect you to kick the ball over their heads, so kicking it along the floor can surprise them. The ball can bounce all over the place or even upwards into the arms of a player. These kicks can be very disruptive to defending teams.</p>

<iframe class="video" src="https://www.youtube.com/embed/QiU46cO3J-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Bomb kick</h5>

<p>Also called an "up and under" or a "Garryowen", this is where th ball is kicked high into the air for players to run underneath and challenge for the catch.</p>

<iframe class="video" src="https://www.youtube.com/embed/eCd_tLdiS00" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Chip kick</h5>

<p>A defender is not allowed to tackle you when you don't have the ball, so kicking it over their head and chasing it is a great way to beat the defence.</p>

<iframe class="video" src="https://www.youtube.com/embed/0m-N2Ygf8F0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Receiving a kick</h3>

<img class="image" src="/Images/AerialCatch.jpg">

<h5>Catching</h5>

<p>Many players choose to jump to catch a kick. This is because it's illegal to tackle a player who is in the air. You will be penalised and maybe sent-off for this kind of tackle.</p>

<p>From a kick off, some players will lift another player to catch the ball. This is so that the opposition can't tackle them, but also so there is a pod of players to support the ball-carrier when he returns to the ground.</p>

<p>Ideally, you should catch the ball sideways. This is to prevent the ball bouncing off your chest and becoming a knock-on. If you drop the ball when you're facing sideways, then the ball is more likely to fall backwards so you or your teammates have a chance to recover it.</p>

<h5>Gathering a loose ball</h5>

<p>If the ball lands on the floor and you have to race an opponent to get it, you have a few options. You can kick it, which is called fly-hacking. You may do this to kick the ball over the tryline to score or maybe to kick the ball off the pitch to prevent them from scoring.</p>

<p>You can also scoop the ball up while you're running. This takes some practice, but it's a great skill to develop.</p>

<p>Another option is to dive on the ball. When you do this, the opposition is not allowed to tackle you until you get to your feet. They must let you get up. So diving on the ball and slowly getting to your feet may give enough time for you teammates to get in position to support you.</p>

<h5>Charging down</h5>

<p>If you see a player attempting to kick in open play, you jump in the way of the ball. This is called charging down and isn't considered a knock on.</p>

<iframe class="video" src="https://www.youtube.com/embed/OfwTF3J60tE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Calling a mark</h5>

<p>If you catch the ball behind your 22 without it bouncing and shout "mark!" then the referee will award you a free kick. In case you're not heard by the referee, you may also hold you arm up at a right-angle to signify a free kick. Remember that the opposition will still try to tackle you until the referee blows their whistle, so continue playing until they do.</p>

<iframe class="video" src="https://www.youtube.com/embed/59UHyPNos1I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Carrying the ball over your own tryline</h5>

<p>If the opposition kicks the ball over your tryline and you touch it down, then you win a dropout 22. But if you knock it back or carry it over and touch it down then the opposition is awarded a scrum on the 5 metre line. The same rule applies if you or the opposition send or carry the ball over the dead ball line on touch in goal lines.</p>