@page "/lineout"

<h1>Lineout</h1>

<img class="image" src="/Images/Lineout.jpg">

<p>You must win your own lineouts. If the other team steals the ball on your throw, then you need to adapt your technique to ensure it doesn't happen again. You can also disrupt the lineout or steal the ball on the opposition's throw.</p>

<iframe class="video" src="https://www.youtube.com/embed/YIgxsmz7g_k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>From a lineout it's easy to start a maul, which can be very difficult to defend. Both lineouts and mauls are best taught on the pitch.</p>

<p>Once you've learned how to perform a textbook lineout, there are many other possibilities you can try:</p>

<iframe class="video" src="https://www.youtube.com/embed/9VlRCQCjQDU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>