@page "/nutrition"

<h1>Nutrition</h1>

<h3>Food</h3>

<p>As nutrition needs vary dramatically over the season and over the training week rugby players must adjust tehir eating to meet training loads. It is important that they eat strategically year round (including during off-season) to maintain performance goals.</p>

<p>Nutritious carbohydrates (e.g. wholegrain breads, cereals, pasta, brown rice, corn, sweet potato, quinoa etc.) for fuelling and recovery are required – particularly on higher training days and/or in the days leading into competition. More fibrous carbohydrate foods provide a way to lower carbohydrate, and therefore total energy intake on lower training/rest days. Adequate intake of protein (i.e. lean meats, legumes, dairy etc.) spaced throughout the day is optimal for muscle recovery, repair and growth. It is also important that athletes focus on diet quality by choosing nutrient rich wholefoods to prevent of illness and injury.</p>

<p>School-aged athletes must particularly focus around planning and preparation to ensure that nutrient requirements are met. Insulated cooler bags or portable coolers may provide a way to safely consume foods in and around training and throughout the day that require temperature control (i.e. yoghurt, cheese).</p>

<h5>Learn to cook</h5>

<p>You're likely to need your cooking skills every day for the rest of your life. You need to learn how to select fresh, quality foods and how to prepare the quickly, cleanly & safely. Here's a video about basic knife skills to make you a better chef for life:</p>

<iframe class="video" src="https://www.youtube.com/embed/yJ44SxiemMs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Protein</h5>

<p>They say you are what you eat. Meat is usually muscles of an animal. Meat contains all of the ingredients you need to build or repair your own muscles. The main chemicals you need from meat are protein, calcium & iron. However, your body can't use these chemicals without the required vitamins that you get from vegetables, so balance is key.</p>

<h5>Carbohydrate</h5>

<p>Carbs (starch and sugar) are used by your body for energy (calories). Starchy foods are things like bread, pasta, rice & potatoes. Excess carbs turn to fat. If you need energy to play a match or do a hard training session, then you may eat more carbs to get you through. If you want to lose weight, just cut the carbs and you can still have a tasty, balanced diet.</p>

<h5>Fats</h5>

<p>There are lots of good and bad fats which would take too long to discuss. But basically, natural fats are good and manufactured ones are bad. So enjoy things butter and olive oil, but avoid hydrogenated fats processed foods.</p>

<h3>Hydration</h3>

<p>Dehydration can have a negative effects on performance including fatigue, poor decision-making and reduced concentration. It is therefore important that players start training and matches well hydrated, and utilise any breaks in play to top up on fluids.</p>

<p>As with all sports, fluid and electrolyte needs vary between athletes depending on their sweat losses. As pre-season typically takes place during the warmer months, care needs to be taken to compensate for high sweat losses during this time.</p>

<p>Sports drinks provide players with an opportunity to replace fluid, carbohydrate and electrolytes. However, other beverages, such as milk and/or salty food plus water are just as effective in rehydrating athletes and may also assist in meeting other nutrition goals.</p>

<h3>What to eat before a game</h3>

<p>It’s important to start matches well-fuelled. Each athlete is different, but players will often eat a pre-game meal around 3 to 4 hours before the start of the match. This meal should contain some carbohydrate for fuel as well as some fluids for hydration. A small amount of protein in the pre-game meal is also useful, as it can help to prevent hunger during the game.</p>

<p>Athletes should eat what they are comfortable with prior to a match, and it is not recommended that any new or unfamiliar foods are introduced at this time. Match start times vary depending on the level and age of the athlete – typically junior games are played in the morning and early afternoon, while senior and elite matches are played later in the day and in the evening.</p>

<p>Some suitable pre-game meal ideas can include:</p>

<ul>
    <li>Wrap or sandwich with chicken and salad</li>
    <li>Bowl of muesli with yoghurt and berries</li>
    <li>Baked potatoes topped with a meaty filling</li>
    <li>Chicken stir-fry with rice, noodles or quinoa</li>
</ul>

<p>Many players will also have an additional small snack 1-2 hours prior to the game. This is often something light that is rich in carbohydrate but relatively low in fat and fibre so it is easy to digest.</p>

<p>Some suitable pre-game snack ideas include:</p>

<ul>
    <li>Yoghurt and banana</li>
    <li>Peanut butter on rice cakes</li>
    <li>Wholemeal toast with marmite and cheese</li>
    <li>Wholemeal crumpets with honey or jam</li>
</ul>

<p>If solids don’t sit well before a game, or players are very nervous, a liquid source of protein and carbohydrate such as a fruit smoothie can be a good option.</p>

<h3>What to eat and drink during a game</h3>

<p>There are limited opportunities for athletes to consume food during a match when they are on the field, although drinks may be delivered several times throughout the match during breaks in play for kicking or injury time. These are a good opportunity for athletes to top up on both fluid and carbohydrate stores.</p>

<p>During the brief half time break, options such as fruit, carbohydrate gels, simple carbohydrate foods and/or sports drink are suitable for topping up fuel stores. Fluid needs should also be considered during the half time break with a combination of water and sports drinks if needed.</p>

<h3>Post-match recovery</h3>

<p>Eating for recovery purposes is important both during the training week and after a match. It is important that athletes consume adequate, quality protein as soon as possible after the training/match to ensure repair and recovery of muscles, promote growth and/or reduce muscle soreness.</p>

<p>Additionally, emphasis should also be placed on consuming nutrient rich carbohydrate, to assist in the replenishment of glycogen (carbohydrate) utilised during training and/or games. This is particularly important if consecutive days of training or if there is a short period between the end of a match and next training session.</p>

<p>It is not uncommon, for athletes to enjoy ‘takeaway’ options post-match with the rest of the team and coaching staff, thus it important that quality options are chosen, such as those that provide adequate protein, minimal saturated fat, and quality carbohydrate.</p>

<p>Some recovery snack and/or meal options include:</p>

<ul>
    <li>Pasta with meat based sauce</li>
    <li>Meat & vegetable stir-fry with rice</li>
    <li>Wrap/focaccia with lean meat and cheese</li>
    <li>Baked beans on toast with cheese</li>
    <li>Burrito bowl/wrap (takeaway or home-made)</li>
</ul>

<h3>Supplements</h3>

<p>Supplements may assist with performance, recovery and body composition goals if used strategically, at the right time in and in the right amounts. However, most of them are useless. Seek the advice of an Accredited Sports Dietitian if considering the use of supplements. Don't believe an advert, even if it has you favourite player in it.</p>