@page "/rucking"

<h1>Rucking</h1>

<img class="image" src="/Images/Rucking.jpg">

<p>Rucking is key! They're an opportunity to tie-in defenders or even steal the ball. This is why rucking isn't just something that you have to do, but it's something that you should use to your advantage.</p>

<p>There are a lot of rules around rucking. Some rules are for safety, but most of them are to make it a fair contest for the ball.</p>

<p>You may spend a lot of time in training working on your scrummaging, kicking or lineout skills, but in the 2019 Rugby World Cup there were an average 129 tackles in a match and 82 rucks as result of them. This compares to 14 scrums and 25 lineouts. This is why it's so important to learn what to do in a ruck situation.</p>

<h3>Rucking as a defending player</h3>

<p>There are three decisions that you should make when you see an opposition player get tackled, in order they are:</p>
<ol>
    <li>Jackal.</li>
    <li>Counter-ruck.</li>
    <li>Let the opposition win it and join the defensive line.</li>
</ol>

<p>Let's go through these options and explain them...</p>

<h5>Jackaling</h5>

<p>A ruck is formed when at least one player from each team is bound over the ball. It's important to remember and understand that sentence because until a ruck is formed, none of the rules of the ruck apply.</p>

<p>In a ruck, you're not allowed to touch the ball with your hands. However, if you grabbed the ball before the ruck formed, then you don't have to take your hands off it. This is how you can steal the ball from a tackled player. It's called jackaling and successfully stealing possession in this way is almost as good as scoring.</p>

<p>An important rule to remember is that tacklers must release the player and ball before getting up and being allowed to jackal. To make it clear to the referee, you must briefly lift your hands up to show you are no longer part of the tackle. After you have completed all of this and a ruck has not been formed, you may jackal the ball.</p>

<p>Opposition players will try to push you off the ball, so you must stand in the "tower of power" position whilst jackaling. If you're not on your feet, you must release the ball. That includes when your knee or hand either touches the ground or touches another player who is on the ground.</p>

<p>If the tackled player doesn't let you steal the ball, then they could be penalised for holding-on while off their feet. Receiving a penalty is even better than just stealing possession.</p>

<p>Take a look at some amazing examples of jackaling:</p>

<iframe class="video" src="https://www.youtube.com/embed/E8ata_7I7_Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br />

<iframe class="video" src="https://www.youtube.com/embed/lMKhzOQmW-s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>The above clip shows how to jackal in different scenarios safely and efficiently.</p>

<h5>Counter-rucking</h5>

<p>If you're unable to jackal the ball because a ruck has formed, your next option is to counter-ruck. This is where you simply push the opposition players off the ball. Stay on your feet and bind on to the players. You can take a run-up to hit them off the ball, but if you shoulder-charge without binding onto them or hit anyone in their head you'll be penalised or sent-off. You should only counter-ruck when you know you can do it successfully. So, if there are 2 or more players to push out of the way, then it's probably worthless to try.</p>

<p>Watch this demo of Sam Warburton guiding you through counter-rucking and keeping possession:</p>

<iframe class="video" src="https://www.youtube.com/embed/_2iMHprgNbU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Letting the oppostion win it</h5>

<p>This may sound counter-productive, but if you have players involved in a ruck that you're not going to win, then those players aren't in your defensive line. If you have 3 tacklers on the floor and 2 more players attempting to counter-ruck, then you only have 10 players left to form the D-line.</p>

<p>If you watch a professional rugby match, you'll see multiple phases where the defending players don't attempt to jackal or counter-ruck and they simply join the D-line to close the gaps and put in the next big hit.</p>

<h3>Rucking as an attacking player</h3>

<iframe class="video" src="https://www.youtube.com/embed/HaSL73w_e8A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Take a look at the above video. These professional players are so quick at rucking. This is because it's easy for the opposition to steal the ball. They also do it quickly so that their D-line doesn't have a chance to re-organise themselves.</p>

<p>When one of your players is tackled, you must ensure 2 or 3 of your players stand, bound-together, over the ball to prevent the opposition from jackaling or counter-rucking. This is why it's useful to work in pods of 3 or 4 forwards when attacking.</p>

<p>If you're attacking near to the opposition's try-line, the forwards should consider a "pick and go" manoeuvre, where a forward will pick the ball up from the back of the ruck, rather than leaving it for the scrum half. Then 2 or 3 other forwards bind onto them and they attack the fringes of the ruck as a pod to force the ball carrier further forwards or over the try-line to score. A player would usually get smashed if they tried this on their own.</p>