@page "/scrum"

<h1>Scrum</h1>

<img class="image" src="/Images/Scrum.jpg">

<p>A good scrum can win games. If your pack can dominate in trhe scrum, you can steal the ball or force the opposition to infringe.</p>

<p>When a penalty is awarded, you team captain can ask for a scrum instead. By doing this, you can force a team to infringe at the scrum repeatedly until the referee sends one of their players off or awards a penalty try.</p>

<p>However, if you do this too much or the opposition run out of front row players, then the referee may ask for uncontested scrums for the rest of the match, so you will lose your advantage.</p>

<iframe class="video" src="https://www.youtube.com/embed/VIfD0nuocVo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Scrummaging is best taught on the pitch. Every player is involved, including the backs, who have lots of room while the forwards are tied in the scrum. It's a great opportunity to launch a set move.</p>

<iframe class="video" src="https://www.youtube.com/embed/b7uLm0FalD4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>