@page "/tackling"

<h1>Tackling</h1>

<p>Learning the laws around the tackle allows you to avoid penalties and use techniques to avoid being tackled or to make better tackles.</p>

<img class="image" src="/Images/Tackle.jpg">

<h3>Tackle technique</h3>

<p>Let's be honest, tackling can be scary to a newcomer or junior player. Many new players are timid and reluctant to risk getting hurt by throwing their body in the way of a stampeding forward. It's ok in training, when you practise tackling at a jogging pace. However, in a match, the players are sprinting and they will try to fend you or bounce you off.</p>

<h5>Shoulder tackle</h5>

<p>There are several ways to tackle, but the most-effective method is to hit the ball carrier with your shoulder. You must keep your head safe, by positioning it behind the runner. Use your entire bodyweight and strength to drive your shoulder through them, pushing them sideways or backwards to the floor.</p>

<iframe class="video" src="https://www.youtube.com/embed/CgCXCehf3xM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Notice how the ball carrier in the above video tries to bounce the tackler away using the ball. But the tackler drops to his knee and positions his shoulder below the ball, into the player's stomach. He then wraps his arms around the ball-carrier's leg and drives upwards, lifting the player off his feet and puts him on the ground safely. As a bonus, the tackler also dislodges the ball from the tackler's grip. His teammates congratulate him for causing the referee to award a scrum for a knock-on and relieving the pressure on their own line (it wasn't really a knock-on because the ball went backwards, but the referee is always right!).</p>

<h5>Wrap tackle</h5>

<p>If the ball-carrier is bigger than you or running so fast that you're worried you'll come off second best, then just wrap your arms around their waist, drop your body to the floor and hold on so that they're now dragging you along the ground. This may be enough to slow them down for one of your teammates to help push them to the ground. Think of tackling like catching a ball, but you're catching the player. Wrap them up and hold on or slide your grip down around their thighs and any player will either stop or fall over.</p>

<p>It's the tackler's duty to bring the ball-carrier to the ground safely. If you flip them over so that they land on their head, then you will be sent-off and banned for a few matches. Safety is very important.</p>

<h5>Chop tackle</h5>

<iframe class="video" src="https://www.youtube.com/embed/i-zcmb6JpLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>There some excellent examples in the above video, but the clearest one is at 1:30, where England's juggernaut Manu Tuilagi only had to 5 metres to run to the tryline. However, Wales's Sam Warburton dives at Manu's ankles, effectively tripping him. Manu's own momentum brings him slamming to the floor.</p>

<h5>Dump tackle</h5>

<iframe class="video" src="https://www.youtube.com/embed/ItvY-Gnr1rE?start=90" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Just watch the video and enjoy.</p>

<p>This is the most exciting method of tackling. Commentators and pundits refer to these as dominant tackles. It's a shoulder tackle, but you don't immediately bring them to the ground. You lift them up and drive them backwards or even sideways over the touchline. These tackles will upset your opposition and lift your own team's morale. Be very careful that the ball carrier's hips aren't lifted above their head. The referee will call this "going beyond the horizontal" and you will be sent-off for doing it. This is the small difference between a great tackle and ruining the game by causing your team to play with just 14 players for the rest of the match.</p>

<h5>Tap tackle</h5>

<p>This is usually done as a last ditch attempt to stop a player from scoring. As you're chasing a player from behind, you dive forward to tap the ankle of their trailing leg. This causes their foot to hit the back of their other leg and they fall over. This technically isn't a tackle, because the ball-carrier isn't held, but it gives your teammates a chance to get back and tackle the player properly.</p>

<iframe class="video" src="https://www.youtube.com/embed/amDVq2ts4cA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Man and ball</h5>

<p>When tackling, there's a risk that the ball-carrier will offload the ball to a teammate. Therefore, you should try to wrap the player, but also trap the ball, so they can't pass. You may even try to dislodge the ball from their grip. If this is done subtly, it can look like the player dropped it, meaning you could win a scrum. You can dislodge the ball using your hand, arm, or head (be very careful, of course).</p>

<h5>Understand the rules</h5>

<img class="image" src="/Images/ruck-3.jpg">

<p>A tackle has occurred when the ball-carrier has been brought to the ground. The ball carrier must also be held.</p>

<p>Being brought to the ground means that they are lying, sitting or one of their knees is on the ground or on another player, who is on the ground.</p>

<p>Being held means that the tackler must hold the ball-carrier until they're on the ground.</p>

<p>It's important to know these rules, because if you're not held in a tackle, you can jump to your feet and continue running.</p>

<p>So, what if you ARE held in the tackle? You must release the ball immediately.</p>

<p>But did you know that you can let go of the ball, jump to your feet, pick-up the ball and continue running? Just make sure the referee can clearly see you release the ball. Also, the tackler must release you. So if they don't, you win a penalty for your team.</p>

<iframe class="video" src="https://www.youtube.com/embed/7bUm14pwgTg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>Release</h5>

<p>The tackler must release the tackled player and the ball and move out of the way or get to their feet without obstructing other players. They must allow the tackled player to move away too. Make sure you do this or you'll give away a penalty.</p>

<h5>Bad tackles</h5>

<p>A high tackle, above the armpits, is illegal. Using your feet or legs to trip a player or tackling a player without the ball is also illegal. You must also attempt to wrap your arms when you tackle, otherwise it's a shoulder charge.</p>

<p>You can tackle as hard as you like, but anything dangerous will be sanctioned by at least a penalty. You're also likely to be sin-binned or sent-off, leading to a lengthy ban. Professional players also receive hefty fines for dangerous play.</p>